.app__specialMenu {
    background: var(--color-black);
    flex-direction: column;
}

.app__specialMenu-title {
    margin-bottom: 2rem;
    text-align: center;
}

.app__specialMenu-menu {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 0;
    width: 100%;
}

.app__specialMenu-menu_heading {
    color: var(--color-white);
   font-family: var(--font-base);
   font-size: 45px;
   font-weight: 600;
   letter-spacing: 0.04em;
   line-height: 58.5px;
}

.app__specialMenu-menu_wine,
.app__specialMenu-menu_cocktails{
    flex: 1;
    flex-direction: column;
    width: 100%;
}

.app__specialMenu-menu_img {
    margin: 0 2rem;
}

.app__specialMenu-menu_img img {
    width: 100%;
}

.app__specialMenu-menu_items {
    display: flex;
    flex-direction: column;
    margin: 2rem 0 ;
    width: 100%;
}



@media screen and (max-width: 2000px) {
    .app__specialMenu-menu_img {
        width: 650px;
    }

    .app__specialMenu-menu_img img {
        height: 920px;
    }
}

@media screen and (max-width: 1150px) {
    .app__specialMenu-menu {
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .app__specialMenu-menu_img {
        margin: 3rem 0;
        width: 410px;
    }

    .app__specialMenu-menu_img img {
        height: auto;
    }
}

@media screen and (max-width: 650px) {
    .app__specialMenu-menu_img {
        width: 100%;
    }

    .app__specialMenu-menu_heading {
        font-size: 35px;
        line-height: 48.5px;
    }

}